.navbar-brand {

    text-decoration:none;
    float:left;
    margin-right:5px;
    font-family:'Georgia', Times, Times New Roman, serif;
    color:white;
    border:1px solid #000000;
    padding:20px;
    width:60%;
    text-align:center;
    display:block;
    background:#0a6138;
    font-size: 25px;
    font-weight: bold;

}

.nav-item {

    text-decoration:none;
    float:left;
    margin-right:5px;
    font-family:'Georgia', Times, Times New Roman, serif;
    color:white;
    border:1px solid #000000;
    padding:20px;
    width:100%;
    text-align:center;
    display:block;
    background:#08d46e;
    font-size: 15px;
    font-weight: bold;

}

#MainPage {

    background-image: url("assets/wheat.png");
    background-color: #EDECEC ;
    padding: 20px 5px 200px 10px;
    height: 1200px;

    
}

.Container {

    background-color: white ;
    width: 40%;
    height: 100%;
    padding: 25px;
    margin: 25px 25px 25px 25px;
    color:black;
    
}

h1 {
    color: #4aaaa5;
   }

.img-thumbnail {

width: 250px;
height: 250px;

}